extends admin-layout.pug

mixin question(type, data, idx)
  div(class="row bg-light my-2 p-2 question-item")
    label.col-6.form-label=idx+1
    div.col-6.text-end
      button.btn.btn-close.delete-question-item
    input(type="text" class="form-control col-12" required placeholder="Insert question title" value=data)

block content 
  //- - var surveyInfo = surveyInfo
  - var surveyInfo = {name: "s1",questions: [{questionType: 'text', data: "question 1"}]}
  .container.content-wrapper 
    .row  
      .col-12.text-end
        button.btn.btn-primary#update-survey Save

    form#survey-edit
      .div  
        label(for="surveyName" class="form-label") Survey Name: 
        input(type="text" class="form-control" value=surveyInfo.name)
      hr.my-2
      .div.text-end
        button.btn.btn-primary#add-question Add question

      for q,index in surveyInfo.questions
        +question(q.questionType, q.data, index)

  template
    +question("text", "", 0)

block scripts
  script(type="text/javascript" src="/admin/edit-survey.js")